<!DOCTYPE html>
	<title>c em|me</title>
	<meta charset="utf-8">
	<meta name="author" content="Carl Mehner">
    <meta name="theme-color" content="darkolivegreen" >
    <link rel="alternate" type="application/rss+xml" title="RSS"
      href="https://www.cem.me/cem.rss">
	<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14' fill='darkgreen'%3E㎝%3C/text%3E%3C/svg%3E"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="cem.css" />
    <script src="cem.js" ></script>	

<header>
	<nav>
		<object type="image/svg+xml" data="art/navL.svg" id="navLeft"></object>
    <object type="image/svg+xml" data="art/navR.svg" id="navRight"></object>
	</nav>
    
	<section id="topTitle">
		<p>&nbsp;</p>
		<a href="https://www.cem.me/index.html">
            <img class=mainLogo src="https://www.cem.me/art/cem.svg" alt="cem.me">
		</a><br />
		<h2>carl mehner's blog</h2>
	</section>
</header>

  {{ content }}

<footer>
	<cite>
		<a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fwww.cem.me%2Fcem.rss' class="feedly"  target='blank'><img id='feedlyFollow' src='art/fd.png' alt='follow me in feedly'></a>
		Copyright &copy; Carl Mehner</cite>
</footer>
</body>
</html>
